# Ignore environment variables
.env

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# Ignore logs and database files
*.log
*.sqlite3


# Ignore VS Code and PyCharm settings
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

